<header>
    <ul>
        <li><a href="/">HOME</a></li>
    </ul>
    <ul>
        <% if (locals.isLoggedIn) { %>
            <a href="/folders">Folders</a>
            <form action="/logout" method="post" style="display: block; margin-top: 10px; margin-left: 0;">
                <button type="submit">LOGOUT</button>
            </form>
        <% } else { %>
            <li><a href="/signup">SIGN UP</a></li>
            <li><a href="/login">LOGIN</a></li>
        <% }%>
    </ul>
</header>